<div class="header" style="
  background: {{headerGradient}};
  color: #ffffff;
  padding: {{headerPadding}};
  text-align: center;">
  <h1 style="margin: 0; font-size: {{titleSize}};">{{headerIcon}} {{headerTitle}}</h1>
  {{#if headerSubtitle}}
    <p style="margin: 10px 0 0 0; font-size: 16px;">{{headerSubtitle}}</p>
  {{/if}}
</div>